.CartSummary {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(243, 241, 239, 0.5);
}

.OrderPrice {
    color: grey;
}

.OrderPrice p:last-child{
    font-weight: bold;
    color: black;
}


.OrderCheckOut button {
    border: none;
    padding: 10px 35px;
    background-color: gold;
    border-radius: 25px;
}

.OrderCheckOut button.Disabled {
    background-color: lightgray;
    cursor: not-allowed;
}