.MyOrder {
    width: 90%;
    margin: 0 auto;
}

.MyOrderHead {
    text-align: center;
}

.OrderTitle {
    font-size: 18px;
    font-weight: bold;
}


.OrderButtons button:first-child {
    color: white;
    background-color: #fe8b0d;
    padding: 5px 20px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.OrderButtons button:last-child {
    color: white;
    background-color: #fe8b0d;
    padding: 5px 20px;
    border: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.OrderButtons button.Active {
    background-color: #999;
}

.MyOrderDetailsList {
    margin-top: 50px;
}

.NoOrders {
    text-align: center;
    font-size: 24px;
}