.Header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.HeaderNav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.HeaderNav>div {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Header div p {
    margin: 5px;
}

.PhoneNumber {
    display: inline-block;
}

.PhoneNumber p {
    color: grey;
}

.PhoneNumber p:first-child {
    font-weight: bold;
    color: black;
    size: 30px;
}

.PhoneNumber span {
    color: gold;
}

.Phone {
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(128,128,128,0.5);
}

.Phone img {
    width: 10px;
}

.Pin {
    margin-right: 20px;
}

.Pin img {
    width: 25px;
}

.Location p {
    color: grey;
}

.Location p:first-child {
    font-weight: bold;
    color: black;
}

.NavLogo img {
    width: 100px;
}

.Orders a:first-child {
    display: block;
    text-decoration: none;
    color: gold;
    font-weight: bold;
    margin-bottom: 10px;
}

.Orders a:last-child {
    color: grey;
    text-decoration: none;
}

.CartIcon {
    margin-right: 20px;
}

.CartIcon img {
    width: 25px;
}

.CartCounter p {
    color: gold;
}

.CartCounter p:first-child {
    color: black;
    font-weight: bold;
}