.Header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.HeaderNav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.HeaderNav>div {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Header div p {
    margin: 5px;
}

.PhoneNumber {
    display: inline-block;
}

.PhoneNumber p {
    color: grey;
}

.PhoneNumber p:first-child {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.PhoneNumber span {
    color: gold;
    font-size: 18px;
}

.PhoneNumber p:last-child {
    font-size: 16px;
}

.Phone {
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(128,128,128,0.5);
}

.Phone img {
    width: 10px;
}

.Pin {
    margin-right: 20px;
}

.Pin img {
    width: 14px;
}

.Location p {
    color: grey;
    font-size: 16px;
}

.Location p:first-child {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.NavLogo img {
    width: 110px;
}

.Orders button {
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.Orders button:first-child {
    display: block;
    color: gold;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.Orders button:last-child {
    color: grey;
    font-size: 16px;
}

.CartIcon {
    margin-right: 20px;
}

.CartIcon img {
    width: 18px;
}

.CartCounter p {
    color: gold;
    font-size: 16px;
}

.CartCounter p:first-child {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.goToCart {
    cursor: pointer;
    text-decoration: none;
    color: gold;
    font-size: 16px;
}

.UserName {
    cursor: default !important;
}

.Logout {
    color: blue !important;
}

@media screen and (max-width: 1200px) {
    .Address {
        margin: 0 15px;
    }
    .Registration {
        text-align: center;
    }
}