.Footer {
    margin-top: 10px;
    width: 86%;
    margin: 0 auto;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.Company img {
    width: 100px;
    display: inline-block;
}

.CompanyInfo {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.CompanyInfo p {
    color: grey;
}

.CompanyInfo p:first-child {
    font-weight: bold;
    color: black;
}

.CompanyRights {
    width: 230px;
}

.CompanyRights span {
    font-weight: bold;
    color: black;
}

.CompanyRights p {
    color: grey;
}

.PhoneNumber p:first-child {
    font-weight: bold;
    color: black;
}

.PhoneNumber span {
    color: gold;
}

.PhoneNumber p {
    color: grey;
}

.CompanyAddress {
    color: grey;
}

.SocialNetwork {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.SocialNetwork div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    font-family: icon-font;
    color: white;
    background-color: #385898;
}

.SocialNetwork div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    font-family: icon-font;
    color: white;
    background-color: #8134af;
}

.SocialNetwork img:last-child {
    width: 60px;
    vertical-align: super;
}