.BenefitItem {
    width: 200px;
}

.BenefitIcons img {
    width: 70px;
    margin-left: 20px;
    margin-top: 1px;
}

.BenefitIcons img:first-child {
    width: 30px;
}



.BenefitsOffer p {
    color: grey;
}

.BenefitsOffer p:first-child {
    color: black;
    font-weight: bold;
}