.BenefitItem {
    width: 200px;
}

.BenefitIcons img {
    width: 80px;
}

.BenefitIcons img:first-child {
    width: 50px;
}

.BenefitsOffer p {
    color: grey;
}

.BenefitsOffer p:first-child {
    color: black;
    font-weight: bold;
}